@page
@model RazorBlog.Pages.User.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["CSSLink"] = "/css/user/user.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";
}
<p class="page-title">Profile</p>
<main>
    <div class="basic-info">
        <img src="/images/profiles/@Model.UserDto.ProfilePicturePath">
        <div class="info">
            <p>Name: @Model.UserDto.UserName</p>
            <p>Country: @Model.UserDto.Country</p>
            <p>Joined on: @Model.UserDto.RegistrationDate</p>
            <div class="button-container">
                <a class="edit-profile" 
                asp-page="/User/Edit" 
                asp-route-username="@Model.UserDto.UserName">Update Profile</a>
                <a class="change-password">Change Password</a>
            </div>

        </div>
    </div>
    <div class="description">
        <p class="card-title">Description</p>
        <p>@Model.UserDto.Description</p>
    </div>
    <div class="stats">
        <p class="card-title">Statistics</p>
        <ul></ul>
            <li>Total blogs: @Model.UserDto.BlogCount</li>
            <li>Total comments: @Model.UserDto.CommentCount</li>
            <li>Blogs in @DateTime.Now.Year: @Model.UserDto.BlogCountCurrentYear</li>
            <li>Total views in @DateTime.Now.Year: @Model.UserDto.ViewCountCurrentYear</li>
        </ul>
    </div>
</main>
<section class="blog-container">
@*    <a class="blog">
        <p>Title</p> 
        <p>Date</p>
        <p>Description</p>
    </a>*@
    <h1>History: </h1>
    @foreach(var blog in Model.UserDto.Blogs)
    {
        <a class="blog" asp-page="/Blogs/Read" 
                        asp-route-id="@blog.Id">
            <p class="title">@blog.Title</p> 
            <p>@blog.Date</p>
            <p>@blog.Description</p>
           
        </a>
    }
</section>