@page 
@model RazorBlog.Pages.Blogs.IndexModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    ViewData["CSSLink"] = "/css/blogs/index.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";
    string today = DateTime.Now.ToString("dddd d MMMM yyyy");
}

<p class="today">@today</p>
<form method="get" class="search-form">
    <input type="text" asp-for="SearchString" required placeholder="Enter author or blog title">
    <input type="submit" value="Search">
</form>

<main class="blog-container">
    @foreach (var blog in Model.Blogs)
    {
        <a class="blog" asp-page="/Blogs/Read" 
                        asp-route-id="@blog.Id">
            <img src="/images/BlogCover/@blog.CoverImageUri">
            <div class="blog-info">
                <span class="info">@blog.AuthorName on @blog.Date.ToString("dd MMM yyyy")</span>
                <span class="info">&#128065; @blog.ViewCount</span>
                <p class="title">@blog.Title</p>
                <p class="description">@blog.Introduction</p>
            </div>
        </a>
    }
</main>